# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Google OAuth credentials
client_secret_*.json
keyFile.json

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/